{% extends 'base.html.twig' %}
{% block title %}{{ product.name }} - Ürün Detayları{% endblock %}
{% block main %}
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                {% if product.imageFilename is null %}
                <img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..." />
                {% else %}
                <img class="card-img-top mb-5 mb-md-0" src="{{ asset('uploads/images/' ~ product.imageFilename) }}" alt="..." />
                {% endif %}
            </div>
            <div class="col-md-6">
                <div class="small mb-1">SKU: BST-498</div>
                <h1 class="display-5 fw-bolder">{{ product.name }}</h1>
                <div class="fs-5 mb-5">
                    <span>{{ product.price }} TL</span><br />
                    <span>Stokta <b>{{ product.stock }}</b> tane mevcut.</span>
                </div>
                <p class="lead">{{ product.description }}</p>
                <div class="d-flex">
                    <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                    <button class="btn btn-outline-dark flex-shrink-0" type="button">
                        <i class="bi-cart-fill me-1"></i>
                        Sepete ekle
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}